body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header ul.link-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page,
.header,
.top,
.mid,
.bottom,
.banner,
.footer {
    display: flex;
    flex: auto;
}

.page {
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header .link-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header .link-container a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero,
.footer {
    background-color: #1f2937;
    color: white;
}

.top,
.header {
    max-width: 1200px;
    margin: auto;
}

.top {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 100px;
}

.top .text-container {
    flex-direction: column;
    flex: 1;
}

.top h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

.top p {
    color: #E5E7EB;
    font-size: 18px;
}

.top button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border-style: none;
}

.top img {
    flex: 1;
    height: 300px;
}

.mid {
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-bottom: 50px;
}

.mid .heading {
    flex: none;
    margin: 30px;
    font-size: 36px;
    color: #1f2937;
}

.mid .card-container {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
}

.mid .card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
}

.mid p {
    color: #1f2937;
}

.mid img{
    border: 4px solid #3882F6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.bottom {
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 600px;
}

.bottom .quote {
    flex: auto;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.bottom .byline {
    align-self: flex-end;
    font-weight: bold;
    color:#1f2937;
    font-size: 24px;
}

.banner {
    margin: 40px 0;
    align-self: center;
}

.banner .container {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    padding: 30px 50px;
    max-width: 800px;
    gap: 40px;
    justify-content: space-around;

    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border-style: none;

}

.banner .text-container{
    flex: auto;
}

.banner .heading{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.banner .text{
    margin: 0;
}

.banner .container button {
    align-self: center;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}